<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
  <title>Bookmark</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- angular controllers -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/bookmarkCtrl.js"></script>
</head>

<body ng-controller="bookmarkCtrl">

<!-- menu -->
<div ng-if="userInfo.type  === 'adm'" class="bs-example bs-navbar-top-example" data-example-id="navbar-fixed-to-top"> 
  <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        </button> <a href="#" class="navbar-brand">{{userInfo.name}}</a> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"> 
        <ul class="nav navbar-nav"> 
        <li class="active">
          <a href="logged.html">Bookmark Management</a>
        </li> 
        <li>
          <a href="logged_adm_user.html">User Management</a>
        </li> 
        </ul> 
      </div> 
    </div> 
  </nav> 
</div>

<div style="margin-top: 34px;" class="container">
  <h2>Adicionar Bookmark</h2>
  <form ng-submit="add(book)">
    <div class="form-group">
      <label for="text">Nome:</label>
      <input type="text" class="form-control" id="description" placeholder="Insira o Nome" ng-model="book.description">
    </div>
    <div class="form-group">
      <label for="text">Url:</label>
      <input type="text" class="form-control" id="url" placeholder="Insira o endereço" ng-model="book.url">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="container">
  <div >
  <h2>Bookmark List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Url</th>
        <th>Id de usuario</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in list">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.description}}</td>
        <td>{{item.url}}</td>
        <td>{{item.user_id}}</td>
        <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item);">edit</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" ng-click="deleteBook(item);">remove</button>
        </td>
      </tr>
    </tbody>
  </table>
        
  </div>
<!-- removi daqui -->

<!-- Modal -->
<div style="width: auto" class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <h2>Remover Bookmark</h2>
          <form ng-submit="delete(removeBook)">
          {{response.message}}<br><br>
          <button type="submit" class="btn btn-default">Confirmar Exclusão</button>
          <br>
          </form>
        </div>
      </div>
      <!-- modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <h2>Editar Bookmark</h2>
            <form ng-submit="edit(editBook)">
            {{response.message}}
            <br><br>
              <div class="form-group">
                <label for="text">Nome:</label>
                <input type="text" style="width: auto" class="form-control" id="description" ng-model="editBook.description">
              </div>
              <div class="form-group">
                <label for="text">Url:</label>
                <input type="text" style="width: auto" class="form-control" id="url" ng-model="editBook.url">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <!-- modal body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      </div>
      <!-- coloquei aqui -->
      
    </div>
  </div>

</body>

</html>

