<!DOCTYPE html>
<html lang="pt-BR" ng-app="admApp">
<head>
  <title>Bookmark</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- angular controllers -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/userCtrl.js"></script>
 
</head>
<body ng-controller="userCtrl">
<!-- menu -->
<div ng-if="userInfo.type  === 'adm'" class="bs-example bs-navbar-top-example" data-example-id="navbar-fixed-to-top"> 
  <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        </button> <a href="#" class="navbar-brand">{{userInfo.name}}</a> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"> 
        <ul class="nav navbar-nav"> 
        <li>
        <a href="logged.html">Bookmark Management</a>
        </li> 
        <li class="active">
          <a href="logged_adm_user.html">User Management</a>
        </li> 
        </ul> 
      </div> 
    </div> 
  </nav> 
</div>

<div style="margin-top: 34px;" class="container">

  <h2>Adicionar Usuário</h2>
  <form ng-submit="add(user)">
    <div class="form-group">
      <label for="text">Nome:</label>
      <input type="text" class="form-control" id="description" required placeholder="Insira o Nome" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="text">Nome de Usuário:</label>
      <input type="text" class="form-control" id="username" required placeholder="Insira o nome de usuário" ng-model="user.username">
    </div>
    <div class="form-group">
      <label for="text">Senha:</label>
      <input type="password" class="form-control" id="password" required placeholder="Insira a senha" ng-model="user.password">
    </div>
    <div class="form-group">
      <label for="text">E-mail:</label>
      <input type="text" class="form-control" id="email" required placeholder="Insira o e-mail" ng-model="user.email">
    </div>
    <div class="form-group">
    <label>Tipo:</label>
    <select required="required" class="required form-control" ng-model="user.type">
      <option value="user" selected>User</option>
      <option value="adm">Admin</option>
    </select>
    </div>
    <div class="form-group">
    <label ">Nível de acesso:</label>
    <select required class="form-control" ng-model="user.access">
      <option value="restrict" selected>Restrito</option>
      <option value="full">Livre</option>
    </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="container">
  <div >
  <h2>Lista de Usuários</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nome de Usuário</th>
        <th>E-mail</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in list">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>        
        <td>{{item.email}}</td>
        <td>{{item.type}}</td>
        <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item);">edit</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" ng-click="deleteUser(item);">remove</button>
        </td>
      </tr>
    </tbody>
  </table>
        
  </div>
<!-- removi daqui -->

<!-- Modal -->
  <div style="width: auto" class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <h2>Remover Usuário</h2>
            {{response.message}}
            <br><br>            
            <form ng-submit="delete(removeUser)">
            <button type="submit" class="btn btn-default">Confirmar Exclusão</button>
            </form>
          </div>
        </div>
        <!-- modal body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
  </div>
   </div>
  </div>

<!-- Modal -->
  <div style="width: auto" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <h2>Editar Usuário</h2>
            <form ng-submit="edit(editUser)">
              <div class="form-group">
            {{response.message}}
            <br><br>               
              <label for="text">Nome:</label>
              <input type="text" style="width: 30em;" class="form-control" id="description" required  ng-model="editUser.name">
            </div>           
            <div class="form-group">
              <label for="text">Nome de Usuário:</label>
              <input type="text" style="width: 30em;" class="form-control" id="username" required placeholder="Insira o nome de usuário" ng-model="editUser.username">
            </div>
            <div class="form-group">
              <label for="text">Senha:</label>
              <input type="password" style="width: 30em;" class="form-control" id="password" required placeholder="Insira a senha" ng-model="editUser.password">
            </div>
            <div class="form-group">
              <label for="text">E-mail:</label>
              <input type="text" style="width: 30em;" class="form-control" id="email" required placeholder="Insira o e-mail" ng-model="editUser.email">
            </div>
            <div style="width: auto" class="form-group">
            <label>Tipo:</label>
            <select style="width: auto" required="required" class="required form-control" ng-model="editUser.type">
              <option value="user" >User</option>
              <option value="adm">Admin</option>
            </select>
            </div>
            <div style="width: auto" class="form-group">
            <label ">Nível de acesso:</label>
            <select style="width: auto"  required class="form-control" ng-model="editUser.access">
              <option value="restrict">Restrito</option>
              <option value="full">Livre</option>
            </select>
            </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <!-- modal body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      </div>
      <!-- coloquei aqui -->
      
    </div>
  </div>

</body>

</html>

